In [ ]:
import pandas as pd

data = pd.read_csv('dataset-bank-abc.csv')
data.head()

,ID_Nasabah,JenisKelamin,StatusPernikahan,JumTanggungan,Pendidikan,Wiraswasta,IncomeNasabah,IncomePasangan,JumlahPinjaman,JangkaWaktuPinjaman,Credit_History,WilayahTempatTinggal,StatusPinjaman
0,LP001002,Male,No,0,Graduate,No,5849,0,128,360,1,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
enc = LabelEncoder()

In [ ]:
data['JenisKelamin'] = enc.fit_transform(data['JenisKelamin'].values)
data['StatusPernikahan'] = enc.fit_transform(data['StatusPernikahan'].values)
data['Pendidikan'] = enc.fit_transform(data['Pendidikan'].values)
data['Wiraswasta'] = enc.fit_transform(data['Wiraswasta'].values)
data['WilayahTempatTinggal'] = enc.fit_transform(data['WilayahTempatTinggal'].values)
data['StatusPinjaman'] = enc.fit_transform(data['StatusPinjaman'].values)

In [ ]:
data.head()

,ID_Nasabah,JenisKelamin,StatusPernikahan,JumTanggungan,Pendidikan,Wiraswasta,IncomeNasabah,IncomePasangan,JumlahPinjaman,JangkaWaktuPinjaman,Credit_History,WilayahTempatTinggal,StatusPinjaman
0,LP001002,1,0,0,0,0,5849,0,128,360,1,2,1
1,LP001003,1,1,1,0,0,4583,1508,128,360,1,0,0
2,LP001005,1,1,0,0,1,3000,0,66,360,1,2,1
3,LP001006,1,1,0,1,0,2583,2358,120,360,1,2,1
4,LP001008,1,0,0,0,0,6000,0,141,360,1,2,1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID_Nasabah            614 non-null    object
 1   JenisKelamin          614 non-null    int64
 2   StatusPernikahan      614 non-null    int64
 3   JumTanggungan         614 non-null    int64
 4   Pendidikan            614 non-null    int64
 5   Wiraswasta            614 non-null    int64
 6   IncomeNasabah         614 non-null    int64
 7   IncomePasangan        614 non-null    int64
 8   JumlahPinjaman        614 non-null    int64
 9   JangkaWaktuPinjaman   614 non-null    int64
 10  Credit_History        614 non-null    int64
 11  WilayahTempatTinggal  614 non-null    int64
 12  StatusPinjaman        614 non-null    int64
dtypes: int64(12), object(1)
memory usage: 62.5+ KB

In [ ]:
atr_data = data.drop(columns=['StatusPinjaman','ID_Nasabah','JenisKelamin','WilayahTempatTinggal','Wiraswasta','Pendidikan','StatusPernikahan'])

atr_data.head()

,JumTanggungan,IncomeNasabah,IncomePasangan,JumlahPinjaman,JangkaWaktuPinjaman,Credit_History
0,0,5849,0,128,360,1
1,1,4583,1508,128,360,1
2,0,3000,0,66,360,1
3,0,2583,2358,120,360,1
4,0,6000,0,141,360,1

In [ ]:
cls_data = data['StatusPinjaman']

In [ ]:
cls_data.head()

0    1
1    0
2    1
3    1
4    1
Name: StatusPinjaman, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score , confusion_matrix , classification_report
from sklearn.tree import DecisionTreeClassifier

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(atr_data,cls_data ,test_size=0.2, random_state=600)
tree_data = DecisionTreeClassifier (random_state=600)
tree_data.fit (xtrain, ytrain)

DecisionTreeClassifier(random_state=600)

In [ ]:
y_pred = tree_data.predict(xtest)
cm = confusion_matrix(ytest, y_pred)
print("Confusion Matrix  :")
print(cm)
akurasi = classification_report(ytest, y_pred)
print("Tingat Akurasi Algoritma")
print("Akurasi :",akurasi)
akurasi = accuracy_score(ytest, y_pred)
print("Tingkat Akurasi : %d persen"%(akurasi*100))

Confusion Matrix  :
[[22 22]
 [12 67]]
Tingat Akurasi Algoritma
Akurasi :               precision    recall  f1-score   support

           0       0.65      0.50      0.56        44
           1       0.75      0.85      0.80        79

    accuracy                           0.72       123
   macro avg       0.70      0.67      0.68       123
weighted avg       0.71      0.72      0.71       123

Tingkat Akurasi : 72 persen

In [ ]:
from sklearn.tree import export_graphviz
export_graphviz(tree_data, out_file="tree_status_pinjaman.dot",class_names=("1","0"),
                feature_names=atr_data.columns, impurity=False , filled=True)

In [ ]:
import graphviz

with open ("tree_status_pinjaman.dot") as fig:
  dot_graph = fig.read()
graph = graphviz.Source(dot_graph)
graph.view()

'Source.gv.pdf'

In [ ]:
from sklearn.tree import export_text

In [ ]:
rules = export_text(tree_data,feature_names=list(xtrain.columns))
print(rules)

|--- Credit_History <= 0.50
|   |--- JumlahPinjaman <= 547.50
|   |   |--- IncomeNasabah <= 6266.50
|   |   |   |--- IncomeNasabah <= 6176.00
|   |   |   |   |--- IncomeNasabah <= 3594.50
|   |   |   |   |   |--- IncomePasangan <= 6623.00
|   |   |   |   |   |   |--- JumlahPinjaman <= 61.50
|   |   |   |   |   |   |   |--- JangkaWaktuPinjaman <= 240.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- JangkaWaktuPinjaman >  240.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- JumlahPinjaman >  61.50
|   |   |   |   |   |   |   |--- JangkaWaktuPinjaman <= 240.00
|   |   |   |   |   |   |   |   |--- JumlahPinjaman <= 100.50
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- JumlahPinjaman >  100.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- JangkaWaktuPinjaman >  240.00
|   |   |   |   |   |   |   |   |--- IncomeNasabah <= 3228.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- IncomeNasabah >  3228.00
|   |   |   |   |   |   |   |   |   |--- IncomeNasabah <= 3308.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- IncomeNasabah >  3308.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- IncomePasangan >  6623.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- IncomeNasabah >  3594.50
|   |   |   |   |   |--- IncomeNasabah <= 4934.00
|   |   |   |   |   |   |--- IncomeNasabah <= 4836.00
|   |   |   |   |   |   |   |--- IncomeNasabah <= 3596.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- IncomeNasabah >  3596.50
|   |   |   |   |   |   |   |   |--- JumlahPinjaman <= 121.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- JumlahPinjaman >  121.50
|   |   |   |   |   |   |   |   |   |--- JumlahPinjaman <= 130.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- JumlahPinjaman >  130.00
|   |   |   |   |   |   |   |   |   |   |--- JumTanggungan <= 2.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- JumTanggungan >  2.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- IncomeNasabah >  4836.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- IncomeNasabah >  4934.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |--- IncomeNasabah >  6176.00
|   |   |   |   |--- class: 1
|   |   |--- IncomeNasabah >  6266.50
|   |   |   |--- class: 0
|   |--- JumlahPinjaman >  547.50
|   |   |--- class: 1
|--- Credit_History >  0.50
|   |--- IncomePasangan <= 26918.50
|   |   |--- JangkaWaktuPinjaman <= 420.00
|   |   |   |--- JangkaWaktuPinjaman <= 48.00
|   |   |   |   |--- JangkaWaktuPinjaman <= 24.00
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- JangkaWaktuPinjaman >  24.00
|   |   |   |   |   |--- class: 0
|   |   |   |--- JangkaWaktuPinjaman >  48.00
|   |   |   |   |--- JumlahPinjaman <= 13.00
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- JumlahPinjaman >  13.00
|   |   |   |   |   |--- JumlahPinjaman <= 132.50
|   |   |   |   |   |   |--- JumlahPinjaman <= 114.50
|   |   |   |   |   |   |   |--- IncomeNasabah <= 4198.00
|   |   |   |   |   |   |   |   |--- IncomePasangan <= 2828.00
|   |   |   |   |   |   |   |   |   |--- JumlahPinjaman <= 82.50
|   |   |   |   |   |   |   |   |   |   |--- IncomeNasabah <= 2736.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |   |--- IncomeNasabah >  2736.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 9
|   |   |   |   |   |   |   |   |   |--- JumlahPinjaman >  82.50
|   |   |   |   |   |   |   |   |   |   |--- JumlahPinjaman <= 100.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |   |--- JumlahPinjaman >  100.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- IncomePasangan >  2828.00
|   |   |   |   |   |   |   |   |   |--- IncomeNasabah <= 2315.00
|   |   |   |   |   |   |   |   |   |   |--- IncomeNasabah <= 605.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- IncomeNasabah >  605.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- IncomeNasabah >  2315.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- IncomeNasabah >  4198.00
|   |   |   |   |   |   |   |   |--- JumlahPinjaman <= 78.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- JumlahPinjaman >  78.00
|   |   |   |   |   |   |   |   |   |--- IncomeNasabah <= 4648.50
|   |   |   |   |   |   |   |   |   |   |--- JumTanggungan <= 2.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- JumTanggungan >  2.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- IncomeNasabah >  4648.50
|   |   |   |   |   |   |   |   |   |   |--- JumlahPinjaman <= 83.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- JumlahPinjaman >  83.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 5
|   |   |   |   |   |   |--- JumlahPinjaman >  114.50
|   |   |   |   |   |   |   |--- IncomeNasabah <= 5949.50
|   |   |   |   |   |   |   |   |--- JumTanggungan <= 2.50
|   |   |   |   |   |   |   |   |   |--- JumlahPinjaman <= 126.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- JumlahPinjaman >  126.50
|   |   |   |   |   |   |   |   |   |   |--- JumlahPinjaman <= 127.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- JumlahPinjaman >  127.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- JumTanggungan >  2.50
|   |   |   |   |   |   |   |   |   |--- JumlahPinjaman <= 129.00
|   |   |   |   |   |   |   |   |   |   |--- JumlahPinjaman <= 126.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- JumlahPinjaman >  126.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |--- JumlahPinjaman >  129.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- IncomeNasabah >  5949.50
|   |   |   |   |   |   |   |   |--- IncomeNasabah <= 6150.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- IncomeNasabah >  6150.00
|   |   |   |   |   |   |   |   |   |--- JumlahPinjaman <= 122.50
|   |   |   |   |   |   |   |   |   |   |--- IncomeNasabah <= 7392.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- IncomeNasabah >  7392.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- JumlahPinjaman >  122.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- JumlahPinjaman >  132.50
|   |   |   |   |   |   |--- JumlahPinjaman <= 135.50
|   |   |   |   |   |   |   |--- IncomePasangan <= 541.50
|   |   |   |   |   |   |   |   |--- JumTanggungan <= 0.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- JumTanggungan >  0.50
|   |   |   |   |   |   |   |   |   |--- IncomeNasabah <= 4641.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- IncomeNasabah >  4641.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- IncomePasangan >  541.50
|   |   |   |   |   |   |   |   |--- IncomeNasabah <= 3433.00
|   |   |   |   |   |   |   |   |   |--- IncomeNasabah <= 3259.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- IncomeNasabah >  3259.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- IncomeNasabah >  3433.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- JumlahPinjaman >  135.50
|   |   |   |   |   |   |   |--- JumTanggungan <= 1.50
|   |   |   |   |   |   |   |   |--- JangkaWaktuPinjaman <= 132.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- JangkaWaktuPinjaman >  132.00
|   |   |   |   |   |   |   |   |   |--- IncomeNasabah <= 3707.50
|   |   |   |   |   |   |   |   |   |   |--- IncomePasangan <= 2031.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 5
|   |   |   |   |   |   |   |   |   |   |--- IncomePasangan >  2031.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |--- IncomeNasabah >  3707.50
|   |   |   |   |   |   |   |   |   |   |--- IncomeNasabah <= 3783.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- IncomeNasabah >  3783.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 13
|   |   |   |   |   |   |   |--- JumTanggungan >  1.50
|   |   |   |   |   |   |   |   |--- IncomeNasabah <= 3010.00
|   |   |   |   |   |   |   |   |   |--- IncomePasangan <= 3240.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- IncomePasangan >  3240.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- IncomeNasabah >  3010.00
|   |   |   |   |   |   |   |   |   |--- JumlahPinjaman <= 141.00
|   |   |   |   |   |   |   |   |   |   |--- IncomeNasabah <= 3890.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- IncomeNasabah >  3890.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- JumlahPinjaman >  141.00
|   |   |   |   |   |   |   |   |   |   |--- IncomePasangan <= 6702.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |   |--- IncomePasangan >  6702.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |--- JangkaWaktuPinjaman >  420.00
|   |   |   |--- IncomeNasabah <= 2285.50
|   |   |   |   |--- class: 1
|   |   |   |--- IncomeNasabah >  2285.50
|   |   |   |   |--- JumlahPinjaman <= 118.00
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- JumlahPinjaman >  118.00
|   |   |   |   |   |--- IncomeNasabah <= 4879.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- IncomeNasabah >  4879.00
|   |   |   |   |   |   |--- IncomePasangan <= 812.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- IncomePasangan >  812.50
|   |   |   |   |   |   |   |--- class: 0
|   |--- IncomePasangan >  26918.50
|   |   |--- class: 0